@import url("https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css");
/* prettier-ignore */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.inner-container {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.section-header {
  font-size: 20px;
  text-align: center;
  padding: 20px 20px 0;
  margin: 0;
}

.generic-item {
  color: #543b23;
  padding: 0 25px 0;
  margin: 20px 20px 0;
  border-radius: 3px;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.email:before {
  content: "\f0e0";
  font: 14px fontawesome;
  color: #5b5b5b;
}

.password:before {
  content: "\f023";
  font: 14px fontawesome;
  color: #5b5b5b;
}

.google:before {
  content: "\f1a0";
  font: 14px fontawesome;
  color: #5b5b5b;
}

.form input[type="password"],
.form input[type="email"],
.form input[type="submit"],
.form input[type="text"] {
  width: 100%;
}

.form-generic label,
.form-generic input[type="email"],
.form-generic input[type="password"],
.form-generic input[type="submit"] {
  border-radius: 0.25rem;
  padding: 1rem;
  color: #3a3f44;
}

.form-generic label {
  background-color: #fff;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.form-generic input[type="email"],
.form-generic input[type="password"] {
  background-color: #ffffff;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.form-generic input[type="email"]:focus,
.form-generic input[type="email"]:hover,
.form-generic input[type="password"]:focus,
.form-generic input[type="password"]:hover {
  background-color: #eeeeee;
}
.form-generic input[type="submit"] {
  background-color: #00b9bc;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}
.form-generic input[type="submit"]:focus,
.form-generic input[type="submit"]:hover {
  background-color: #197071;
}

.form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text--center {
  text-align: center;
}

#login-google {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-field.outer-btn {
  width: 80%;
  margin: auto;
}
